<div class="section">
    <div class="container">
        <div class="columns is-centered">
        
        <div class="column is-5">
        
        <% if @user.errors.any? %>
            <div id="error_explanation">
                <h5 class="has-text-danger"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being registered:</h5>
                <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li class="has-text-danger"> * <%= msg %></li>    
                  <% end %>
                </ul>
             </div>
        <% end %>
        <%= simple_form_for(@user, url: create_user_path) do |f| %>
        <%= f.error_notification %>
        

        <h1 class="title">Create a new user</h1>
        
        <div class="field">
            <div class="control">
               <p class="has-text-weight-bold">Profile Photo *Optional</p>
                <%= f.file_field :avatar,
                autofocus: true,
                input_html: { class:"input" }, wrapper:false,label_html: { class:"label"} %>
            </div>        
        </div>
        
        <div class="field">
            <div class="control">
               <p class="has-text-weight-bold">User Description *Optional</p>
                <%= f.input :description,
                hint: "Limit to 280 words",
                autofocus: true,
                input_html: { class:"input" }, wrapper:false,label_html: { class:"label"} %>
            </div>        
        </div>
        
        <div class="field">
            <div class="control">
                <%= f.input :username,
                required: true,
                :required => 'required',
                autofocus: true,
                input_html: { class:"input" }, wrapper:false,label_html: { class:"label"} %>
            </div>        
        </div>
        
        <div class="field">
            <div class="control">
                <%= f.input :name,
                required: true,
                :required => 'required',
                autofocus: true,
                input_html: { class:"input" }, wrapper:false,label_html: { class:"label"} %>
            </div>        
        </div>
        
        <div class="field">
            <div class="control">
                <%= f.check_box :admin,
                hint: "Check the box if the user is admin",
                input_html: { class:"input" }, wrapper:false,label_html: { class:"label"} %> Is the user an admin? (optional)
            </div>        
        </div>

        <div class="field">
            <div class="control">
                <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { class:"input" }, wrapper:false,label_html: { class:"label"} %>
            </div>        
        </div>
        
        
        <div class="field">
            <div class="control">
                <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { class:"input" }, wrapper:false, label_html: { class:"label"} %>
            </div>        
        </div>
        
        <div class="field">
            <div class="control">
                <%= f.input :password_confirmation,
                required: true,
                input_html: { class:"input" }, wrapper:false, label_html: { class:"label"} %>
            </div>        
        </div>

        <div class="field">
            <div class="control">
            <%= f.button :submit, "Create", class:"button is-small is-info" %>
            </div>
            <% end %>
        </div>
        
        </div>
        </div>
    </div>
</div>